# Credenciais do Banco de Dados
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Segredo JWT
JWT_SECRET=

# URL do Frontend
FRONTEND_URL=

# --- Configurações de E-mail (Gmail) ---
# Por favor, preencha com as suas credenciais!
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=


DATABASE_URL=
